@import url(https://fonts.googleapis.com/css?family=Lato:400,300&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin,latin-ext);

body {
  background-color: #252525;
  color: #d9d9d9;
}

.avatar {
    width: 50px;
    height: 50px;
}

#header, .header {
  font-family: Lato, sans-serif;
}

#para {
  font-family: Inconsolata, sans-serif;
}

.start, .links {
  font-weight: 700;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #909090;
}

a:hover {
  text-decoration: none;
  color: #b9b9b9;
}

.links a:link, .links a:visited, .links a:active {
  text-decoration: none;
  color: #909090;
}

.links a:hover {
  text-decoration: none;
  color: #b9b9b9;
}

::-webkit-scollbar {
  display: none;
}
