@import url(https://fonts.googleapis.com/css?family=Lato:400,300&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin,latin-ext);

body {
  background-color: #073642;
  color: #eee8d5;
}

#header, .header {
  font-family: Lato, sans-serif;
}

#para {
  font-family: Inconsolata, sans-serif;
}

.start, .links {
  font-weight: 700;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #eee8d5;
}

a:hover {
  text-decoration: none;
  color: #eee8d5;
}

.links a:link, .links a:visited, .links a:active {
  text-decoration: none;
  color: #eee8d5;
}

.links a:hover {
  text-decoration: none;
  color: #eee8d5;
}

::-webkit-scollbar {
  display: none;
}

.cat {
  font-family: Inconsolata;
  margin-top: -3px;
}

.blinking-cursor {
  display: inline-block;
  background-color: #f0f0f0;
  margin-left: 5px;
  margin-top: 5px;
  width: 4px;
  height: 20px;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
